venv/
db.sqlite3
__pycache__/
resources/Image/*
resources/Audio/*
resources/Video/*
resources/Exam/*
!resources/Image/.gitkeep
!resources/Audio/.gitkeep
!resources/Video/.gitkeep
!resources/Exam/.gitkeep